.button {
    background-color: #3D5F84; /* Green */
    border: none;
    border-radius: 10px;
    color: #3D5F84;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 1em;
  }

  .button1 {
    background-color: #3D5F84; 
    color: #FFFFFF; 
  }

  .button1:hover {
    background-color: #FFFFFF;
    color: #3D5F84
  }

  .btg-wajib{
    color: red;
  }